<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsw1F07PcUBaCL52x6BGkHATfhe6PtjN0</string>
	<key>GCM_SENDER_ID</key>
	<string>379032273559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifsApp</string>
	<key>PROJECT_ID</key>
	<string>notifs-app-2b377</string>
	<key>STORAGE_BUCKET</key>
	<string>notifs-app-2b377.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379032273559:ios:0b094d1b8c4026305c9fd2</string>
</dict>
</plist>